<div class="mb-3">
    <div class="row">
        <form class="col s12">
            <img src="./images/logo.png" alt="TLNT logo">
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate">
                    <label for="email" class="label">Email</label>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate">
                            <label for="password" class="label">Password</label>
                        </div>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-primary" type="button">Login</button>
                    </div>
                    <div class="signup">Not a Member?<a href="/signup">Signup</a></div>
                </div>
            </div>
        </form>
    </div>
</div>