<!--materialize CDN-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="stylesheets/update-styel.css">


 <div class="mb-3">
        <div class="row">
            <form class="col s12">
                <img src="/images/logo.png" alt="TLNT logo">
                <div class="sign-out">
                <form class="form-inline" action="./talent-signup.html">
                        <button class="btn1" id="signout-button" type="submit">Sign Out</button>
                </form>
            </div>
      
        
            <div class="welcome"> Welcome!</div>
            <div class="main">
            <form class="col-10" action="./talent-signup.html">  
                <div class="row">
                        <div class="col-4 mx-auto">
                            <button class="btn btn-primary" id="modify-button" type="button">Modify Profile</button>
                        </div>
                </div>
            </form>
            <form class="col-10" action="">  
                <div class="row">
                        <div class="col-4 mx-auto ">
                            <a href="/talent/delete">
                            <button class="btn btn-primary" id="delete-button" type="button">
                                Delete Profile
                            </button>
                            </a>
                        </div>
                    </div>
                </form>
        </div>


<script src="/javascript/talent-dashboard.js"></script>
<script src="/javascript/logout.js"></script>