<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="stylesheets/update-styel.css">

<div class="container-fluid">

    <nav class="navbar navbar-default navbar-expand-lg bg-light" role="navigation">
        <a class="logo" href="index.html">
            <img src="images/logo.png" class="img-responsive" alt="company logo"
                style="max-height:3em; margin-top: .1em;"></a>
        <div class="sign-out">
            <form class="form-inline" action="./talent-signup.html">

                <button class="nav-pills" id="signout-button" type="submit">Sign Out</button>

            </form>
        </div>
    </nav>

    <div class="welcome"> Welcome!</div>
    <div class="main">
        <form class="col-4">
            <div class="row">
                <div class="mx-auto col-4">
                    <button class="btn btn-primary" id ="modify-button" type="button">Modify Profile</button>
                </div>
            </div>
        </form>
        <form class="col-4" action="">
            <div class="row">
                <div class="mx-auto col-4 ">
                    <button class="btn btn-primary" id="delete-button" type="button">Delete Profile</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="javascript/talent-dashboard.js"></script>
<script src="javascript/logout.js"></script>
<script src="javascript/delete-user.js"></script>