* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("/images/delete-update.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/*container style*/
.mb-3 {
	background: rgba(255, 255, 255, 0.7);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	height: 330px;
	width: 450px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	padding: 10px;
}

/*logo style*/
img {
	height: 30px;
	margin-top: 2px;
	margin-bottom: 2px;
	align-items: center;
	justify-content: center;
	display: flex;
}

/*signout div style*/
.sign-out {
	float: right;
}
/*sign out button style */
.btn1 {
	background-color: #0f222d;
	height: 30px;
	width: 100px;
	border-radius: 2px;
	border-style: hidden;
	color: white;
}
.btn1:hover {
	background-color: navy;
}
/*welcome text style */
.welcome {
	padding: 10px 20px 20px;
}

/*button style*/
.btn {
	background-color: #0f222d;
	height: 60px;
	width: 150px;
}

.btn:hover {
	background-color: navy;
}

/*footer style*/
footer {
	color: white;
	font-weight: bold;
	background-color: black;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: left;
}
