* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  img {
    height: 75px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .welcome
{
    padding:50px 50px 50px 50px;
}